/* #f6D238 
rgba(246, 210, 56, 0.3)
*/
/*---------------- General settings -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
}

section{
    padding: 70px 8%;
    border-bottom: 1px solid rgba(246, 210, 56, 0.3);
}



/*=============================================================*/



/*---------------- Header -----------------*/
header{
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(246, 210, 56, 0.3);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    width: 30%;
    cursor: pointer;
}
.logo span {
    color: #f6D238;
}

header ul {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: center;
}

header ul li{
    padding: 10px 25px;
}
header .menu {
    display: none;
    color: #999;
}

header ul li a{
    text-decoration: none;
    color: #999;
    font-size: 14px;
    transition: 0.5s;
}

header ul li a:hover{
    background-color:#f6D238;
    padding: 15px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn{
    color: #000;
    font-weight: bold;
    background-color: #f6D238;
    border: 2px solid #f6D238;
    border-radius: 20px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.6s;
}

.btn:hover{
    background-color: #f1f1f1;
    transform: rotate(5deg);
}
.btn i{
    margin-right: 5px;
}

@media (max-width: 900px) {
    header ul{
        display: none;
    }
    .btn-header{
        width: 60%;
    }
    header .menu {
        width: 20%;
        display: flex;
        justify-content: end;
        cursor: pointer;
    }
}
@media (max-width: 449px) {
    header ul{
        display: none;
    }
    .btn-header{
        width: 70%;
    }
    header .menu {
        width: 20%;
        display: flex;
        justify-content: end;
        cursor: pointer;
    }
    .btn{
        padding: 7px 14px;
    }
}
    /*=============================================================*/













            /*---------------- Hero -----------------*/

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
}
.hero-left {
    position: relative;
    height: 500px;
    width: 600px;
}
.hero-left img{
    position: absolute;
    object-fit: cover;
    border: 8px solid #fff;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);

    transition: 0.6s;
}
.hero-img-1{
    width: 450px;
    height: 500px;
}
.hero-img-2{
    width: 350px;
    height: 350px;
    top: 150px;
    left: 250px;
}

.hero-img-1:hover{
    transform: scale(1.1) rotate(10deg);
}
.hero-img-2:hover{
    transform: scale(1.1) rotate(-10deg);
}

.hero-right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-right .text-right{
    color: #f6D238;
    font-weight: bold;
}

.hero-right h1{
    margin: 20px 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
}

.hero-right p{
    margin-bottom: 25px;
    color: #999;
    font-size: 16px;
}

.hero-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-video{
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.see-video span{
    margin-left: 25px;
    font-weight: bold;
}
.video-bg{
    margin-left: 25px;
    background: url(img/img3.jpg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    position: relative;
}

.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    right: -20px;
    background-color: #fff;
    transform: translate(-20%, 50%);
}

.play-btn i{
    color: #cf0711;
}


@media(max-width: 1200px) {
    .hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .hero-right{
        width: 90%;
        text-align: center;
        margin-left: 0;

    }
}

@media (max-width: 650px){

    .hero-left {
        height: 250px;
        width: 300px;
    }
    .hero-img-1{
        width: 250px;
        height: 270px;
    }
    .hero-img-2{
        width: 175px;
        height: 175px;
        top: 75px;
        left: 125px;
    }
}
/*============================================*/













/*---------------- top-destinations -----------------*/

.top-destinations h2{
    margin: 20px 0;
    font-size: 35px;
    line-height: 50px;
}

.top-destinations .destinations-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.top-destinations .destinations-desc p{
    color: #999;
    font-size: 16px;
}

.top-destinations .destinations-desc div{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.top-destinations .destinations-desc i{
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6D238;
    border: 1px solid #f6D238;
    cursor: pointer;
    transition: 0.6s;
}

.top-destinations .destinations-desc i:hover{
    background-color: transparent;
}
.top-destinations-gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-destinations-gallery .gallery-block{
    width: 16vw;
    height: 20vw;
    min-width: 300px;
    min-height: 340px;
    margin: 12px 0;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 1.5rem;

}

.top-destinations-gallery img{
    width: 16vw;
    height: 20vw;
    min-width: 300px;
    min-height: 340px;
    object-fit: cover;
    border: 8px solid #fff;
    border-radius: 1.5rem;
    transition: 0.6s;
}
.gallery-block .gallery-block-desc{
    text-align: center;
    padding: 10px;
    transition: 0.6s;
}

.gallery-block .gallery-block-desc h3{
    margin-bottom: 10px;
}

.gallery-block .gallery-block-desc p{
    color: #999;
}

.gallery-block:hover .gallery-block-desc,.gallery-block:active .gallery-block-desc{
    transform: translateY(-10vw);
} 

.gallery-block:hover img,.gallery-block:active img{
    transform: translateY(-10vw);
}

@media(max-width: 724px){
    .gallery-block:hover .gallery-block-desc,.gallery-block:active .gallery-block-desc{
        transform: translateY(-140px);
    } 
    
    .gallery-block:hover img,.gallery-block:active img{
        transform: translateY(-140px);
    }

    .top-destinations-gallery{
        justify-content: center;
    }
}
/*============================================*/













/*---------------- book-now -----------------*/
.book-now h2{
    margin: 20px 0;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.book-now-desc{
    color: #999;
    font-size: 16px;
    margin: 24px 0;
    text-align: center;
}

.book-now-gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.book-now-block{
    width: 27vw;
    /* min-width: 300px;
    min-height: 340px; */
    overflow: hidden;
    margin: 12px 0;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 1.5rem;

}

.img-box{
    width: 27vw;
    height: 23vw;
    overflow:hidden;
}
.book-now-block img{
    width: 27vw;
    height: 23vw;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-bottom: 12px;
    transition: 0.6s;
}
.book-now-block img:hover{
    transform: scale(1.2) rotate(10deg);
}

.book-now-block p,.book-now-block i,.book-now-block .price{
    padding-left: 16px;
    padding-bottom: 10px;
}

.book-now-block p{

}

.book-now-block i{
    color: rgba(221, 181, 4, 0.952);
}

.book-now-block .price{
    padding-bottom: 30px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}

.book-now-block button{
    color: #f6D238;
    background-color: transparent;
    font-weight: bold;
    padding: 12px 24px;
    border: 1px solid #f6D238;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.6s;
}

.book-now-block button:hover{
    color: #fff;
    background-color: #f6D238;
}


.cta{
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
/*============================================*/
/*----------------  -----------------*/


/*=============================================*/
/*----------------  -----------------*/


/*=============================================*/
